:root {
	--color-text: #000;
	--color-text_light: #ccc;
	--color-accent: #7f1734;
	
	--color-gray: #ccc;
	
	--color-background: #fff;
	
	--font_family-default: system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-text: #fff;
		--color-accent: #cc2454;
		
		--color-gray: #eee;
		
		--color-background: #1a1a1a
	}
}

* {
	font-family: var(--font_family-default) !important;
	letter-spacing: normal !important;
	box-sizing: border-box !important
}

body {
	margin: 0;
	padding: .75rem;
	width: 100%;
	font-size: 12pt !important;
	line-height: 1 !important;
	background: var(--color-background);
}

img {
	width: 100% !important;
	height: auto !important
}

table {
	width: 100%;
	color: var(--color-text);
	font-size: 1rem;
	line-height: 1.4;
	border-bottom: 1px solid #fff;
}

table:last-child {
	border-bottom: none
}

tbody, tr, td {
	font-size: 1em
}

td > div:first-child + span {
	color: var(--color-text_light) !important;
	font-size: .5rem !important;
}

a[href*='print.asp'] {
	display: none
}

.ueberschriftbig {
	color: var(--color-accent);
	font-size: 1rem;
	border-bottom: 1px solid var(--color-gray);
}

.rot {
	color: var(--color-accent) !important;
	font-size: .8rem
}

.newstitel, .newstitel > b {
	color: var(--color-accent) !important;
	font-size: 1.2rem !important;
	line-height: 1 !important
}

img[src*='Newsstrich.gif'] {
	display: none
}
